/* This is a CSS comment */
html {
  background-color: #0ef2c4;
  /*
  Black: #000000
  White: #ffffff
  Red: #ff0000
  Blue: #0000ff
  */
  color: #fff;

}

h1,h2 {
  color: #fff;
  font-size: 5rem;
  font-weight: normal;
  line-height: 1;
  text-shadow: 2px -5px 10px black;
  font-family: 'Bangers', cursive;
}

p {
  font-style: italic; /* italic, normal */
  text-decoration: underline; /* underline, none, line-through */
  text-align: center; /* left, center, right, justify */
  font-family: Arial,sans-serif;
}

ol {
  list-style-type: disc; /* decimal, circle, lower-alpha, lower-roman, upper-alpha,
  upper-roman, square, disc, none */
}

a {
  color: #000;
}

a:hover {
  color:blue;
}
